#group-check-box-S2xpbWEtTGF2YnVuZA,
#group-check-box-VGluZ2JvZw,
#group-check-box-TWFwIEVqZXJrb3J0,
#group-check-box-R2Vvc2Fn,
#group-check-box-RnlzaXNrIHBsYW5sw6ZnbmluZw, 
#group-check-box-TmF0dXJiZXNreXR0ZWxzZSBvZyBrdWx0dXJhcnY,
#group-check-box-U3TDuGo,
#group-check-box-SMO4amRla3VydmVy,
#group-check-box-S29ydGZvcnN5bmluZ2VuOiBGaWtzcHVua3Rlcg {
    visibility: hidden;
}

.fixed-table-container {
    height: 250px !important;
}

.leaflet-popup-content{
	width: 551px !important;
}
