/* Fjerner checkboksen til "Afløb" */
#group-check-box-QWZsw7hi {
    visibility: hidden;
}


/* Fjerner toggle knappen til "Tænde/Slukke systemer", og skubber teksten lidt ind */
li[data-gc2-subgroup-name="Tænde/Slukke systemer"] span.togglebutton {
    display: none;
}

li[data-gc2-subgroup-name="Tænde/Slukke systemer"] button.js-subgroup-toggle-button {
    margin-left: 16px;
}

.p-3 {
    padding: 0.35rem !important;
}
