/* Fjerner checkboksen til "Afløb" */
#group-check-box-QWZsw7hi {
    visibility: hidden;
}

/* Skjuler checkboksen til "Tænde/Slukke systemer" under afløb */
input[type="checkbox"][data-gc2-subgroup-name="Tænde/Slukke systemer"] {
  visibility: hidden;
}

.p-3 {
    padding: 0.35rem !important;
}
