#group-check-box-VGVtYWdydXBwZXIgLSB1bmRlciBvcGJ5Z25pbmc {
    visibility: hidden;
}

#group-check-box-QWZsw7hi {
    visibility: hidden;
}

input[type="checkbox"][data-gc2-subgroup-name="Tænde/Slukke systemer"] {
  visibility: hidden;
}
