.leaflet-interactive {
    stroke: if (
                style(stroke-dasharray: "8 5"): #003333;
                else: #003333;
                );
    fill: if (
                style(stroke-dasharray: "8 5"): #003333;
                else: #003333;
                );
    fill-opacity: 0.2;
    
}
