.leaflet-interactive {
    stroke: if (
                stroke-dasharray="8 5": #003333;
                else #003333;
                );
    fill: if (
                stroke-dasharray="8 5": #003333;
                else #003333;
                );
    fill-opacity: 0.2;
    
}
