/* Fjerner check-boks for gruppen: Afløb */
#group-check-box-QWZsw7hi {
    visibility: hidden;
}

/* Fjerner check-boks for gruppen: Vandforsyning */
#group-check-box-VmFuZGZvcnN5bmluZw {
    visibility: hidden;
}

/* Fjerner check-boks for gruppen: Afløb-2 */
#group-check-box-QWZsw7hiLTI {
    visibility: hidden;
}

/* Fjerner check-boks for gruppen: Vandforsyning-2 */
#group-check-box-VmFuZGZvcnN5bmluZy0y {
    visibility: hidden;
}
