<!-- override standard styles -->
<style>
    body {
        background-color: white;
    }

    .leaflet-control-graphicscale {
        box-shadow: none;
        -webkit-box-shadow: none;
        white-space: nowrap;
    }

    #legend, #header, #date-time, #scale-box {
        -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }
    	.outer-container {
		border: 0;
		height: 50%;
		width: 350px;
	}

	.top-section {
		padding-top:5px;
		padding-left:15px;
		height: 50%;
	}

	.bottom-section {
		height: 50%;
		margin: 8px;
	}

	.bottom-aligner {
		display: inline-block;
		height: 100%;
		vertical-align: bottom;
		width: 3px;
	}

	.bottom-content {
		display: inline-block;
	}

	.top-content {
		padding: 8px;
	}
</style>
<!-- map -->
<div id="pane1" style="position: absolute; width: {{printWidth}}; height: {{printHeight}}; display: block; overflow: hidden; top: 30px; left:30px; border: 1px solid black">
    <div id="container1" style="position: relative; width: 200%; height: 200%; left:-50%; top:-50%; display: inline-block;">
        <div id="map"></div>
    </div>
    <div id="header" style="display: {{_showHeader}}; position: absolute; width: 600px; height: 300px; background-color: white; bottom: -100px; right: -210px; border-top: 1px solid gray;">
        <div class="outer-container">
			<div class="top-section">
				<table >
					<tr>
						<td style="vertical-align: top;">
							<b>Titel</b>
						</td>
						<td style="vertical-align: top;">
							<b id="title" >testasdfgdfgad ag agarg agafsd </b>
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">
							<b>Kommentar</b>
						</td>
						<td style="vertical-align: top;">
							<p id="comment">test32 det elkjsdf rg lkjgsdfg </p>
						</td>
					</tr>
				</table>
			</div>

			<div class="bottom-section">
				<div class="bottom-aligner"></div>				
				<div class="bottom-content">
					<table>
						<tr>
							<td>
								<div><img width="200px" src="https://geopartner.dk/assets/images/geopartner_landinspektoerer.png"></div>
							</td>
						</tr>
						<tr>
							<td>
								Udskriftsdato:  
								<script language="javascript">
									var today = new Date();
									document.write(today.getDate() + '/' + (today.getMonth()+1) + ' - ' + today.getFullYear());
								</script>
							</td>
						</tr>
						<tr>
							<td>
								Bemærk: Udskrifter er ikke målfaste.
							</td>
						</tr>
					</table>		
				</div>
			</div>
		</div>

    </div>

    <div style="position: absolute; bottom: 0; left: 0; height: 50px; background-color: white">
        <div style="position: absolute; bottom: 5px; left: 5px;"><img style="width: 40px" src="http://www.clipartbest.com/cliparts/Rcd/dgL/RcddgLgc9.png"></div>
        <div id="scalebar" style="position: relative; left: 48px;"></div>
        <div id="scale" style="position: relative; left: 60px; font-size: 0.8em;"></div>
    </div>

    <div id="legend" class="legend" style="position: absolute; top: 5px; left: 5px; padding: 10px; background-color: white; -webkit-transform: scale(0.6); -webkit-transform-origin:left top; display: {{_showLegend}}"></div>
    <div id="date-time" style="position: absolute; top: 0; right: 0; background-color:white;font-size: 0.8em;">{{printDate}}</div>
</div>
