<!-- override standard styles -->
<style>
    body {
        background-color: white;
    }
    .leaflet-control-graphicscale {
        box-shadow: none;
        -webkit-box-shadow: none;
        white-space: nowrap;
    }
    #legend, #header, #date-time, #scale-box {
        -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }
    .brandName {
        font-size: 10px;
        margin: 0;
        text-align: center;
    }
</style>
<!-- map -->
<div id="pane1">
    <div id="container1">
        <div id="map"></div>
    </div>
    <div id="header">
        <b id="title"></b>
        <p id="comment"></p>
    </div>
    <div style="position: absolute; bottom: 0; left: 0; height: 50px; background-color: white">
        <div style="position: absolute; bottom: 5px; left: 5px;"><img style="width: 40px" src="http://www.clipartbest.com/cliparts/Rcd/dgL/RcddgLgc9.png"></div>
        <div id="scalebar" style="position: relative; left: 48px;"></div>
        <div id="scale" style="position: relative; left: 60px; font-size: 0.8em;"></div>
    </div>

    <div id="legend" class="legend" style="position: absolute; top: 5px; left: 5px; padding: 10px; background-color: white; -webkit-transform: scale(0.6); -webkit-transform-origin:left top; display: {{_showLegend}}"></div>
    <div id="date-time" style="position: absolute; top: 0; right: 0; background-color:white;font-size: 0.8em;">{{printDataTime}}</div>
</div>
