.leaflet-popup-content-wrapper {
    width: 700px;
}

.leaflet-popup-content {
    width: 698px;
}


.info-tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	margin: 32px 0;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
}

.info-tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

.info-tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
.info-tab > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid #ccc;
	background: #eee;
	color: #666;
	font-size: 12px; 
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;	
	transition: all 0.3s;
}
.info-tab:hover label {
	border-top-color: #333;
	color: #333;
}

.info-tab-content {
	display: none;
	color: #777;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.info-tabbed [type="radio"]:nth-of-type(1):checked ~ .info-tabs .info-tab:nth-of-type(1) label,
.info-tabbed [type="radio"]:nth-of-type(2):checked ~ .info-tabs .info-tab:nth-of-type(2) label,
.info-tabbed [type="radio"]:nth-of-type(3):checked ~ .info-tabs .info-tab:nth-of-type(3) label,
.info-tabbed [type="radio"]:nth-of-type(4):checked ~ .info-tabs .info-tab:nth-of-type(4) label,
.info-tabbed [type="radio"]:nth-of-type(5):checked ~ .info-tabs .info-tab:nth-of-type(5) label {
	border-bottom-color: #fff;
	border-top-color: #B721FF;
	background: #fff;
	color: #222;
}

.info-tabbed [type="radio"]:nth-of-type(1):checked ~ .info-tab-content:nth-of-type(1),
.info-tabbed [type="radio"]:nth-of-type(2):checked ~ .info-tab-content:nth-of-type(2),
.info-tabbed [type="radio"]:nth-of-type(3):checked ~ .info-tab-content:nth-of-type(3),
.info-tabbed [type="radio"]:nth-of-type(4):checked ~ .info-tab-content:nth-of-type(4) {
	display: block;
}

